In [1]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web   
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import datetime
import yfinance as yf

In [2]:
stock_list = ['GOOGL', 'JPM', 'MSFT', 'AAPL', 'VZ', 'AMZN', 'JNJ', 'MMM', 'BRK-B', 'BMY']
data = []

for stock in stock_list:
    stock_df = yf.download(stock, start='2015-1-1', end='2020-1-1', progress=True)
    stock_df.ffill(inplace=True)
    data.append(stock_df['Adj Close'] / stock_df['Adj Close'].shift(1) - 1)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
df = pd.DataFrame(data, index=stock_list).T
df.head()

,GOOGL,JPM,MSFT,AAPL,VZ,AMZN,JNJ,MMM,BRK-B,BMY
Date,,,,,,,,,,
2014-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-02,-0.002092,0.004986,0.006674,-0.009513,0.003848,-0.005897,-0.000478,-0.001582,-0.006527,0.008131
2015-01-05,-0.019054,-0.031045,-0.009196,-0.028172,-0.008305,-0.020517,-0.006984,-0.022553,-0.014547,-0.015627
2015-01-06,-0.024679,-0.025929,-0.014677,0.000094,0.010092,-0.022833,-0.004914,-0.010663,-0.001088,-0.001707
2015-01-07,-0.002941,0.001526,0.012705,0.014022,-0.006453,0.010600,0.022076,0.007249,0.013893,0.012996

In [4]:
# df.to_csv('daily.csv')

In [4]:
df.index = pd.to_datetime(df.index)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2014-12-31 to 2019-12-31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GOOGL   1258 non-null   float64
 1   JPM     1258 non-null   float64
 2   MSFT    1258 non-null   float64
 3   AAPL    1258 non-null   float64
 4   VZ      1258 non-null   float64
 5   AMZN    1258 non-null   float64
 6   JNJ     1258 non-null   float64
 7   MMM     1258 non-null   float64
 8   BRK-B   1258 non-null   float64
 9   BMY     1258 non-null   float64
dtypes: float64(10)
memory usage: 140.5 KB

In [6]:
def total_return_from_returns(returns):
    """Retuns the return between the first and last value of the DataFrame.
    Parameters
    ----------
    returns : pandas.Series or pandas.DataFrame
    Returns
    -------
    total_return : float or pandas.Series
        Depending on the input passed returns a float or a pandas.Series.
    """
    return (returns + 1).prod() - 1

In [7]:
monthly_return = df.groupby([df.index.year, df.index.month]).apply(total_return_from_returns)
monthly_return.head(12)

               AAPL      AMZN      BABA        FB     GOOGL       LOW  \
Date Date
2015 12    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2016 1    -0.075242 -0.131516 -0.175218  0.072138 -0.021414 -0.053811
     2    -0.001288 -0.058739  0.026555 -0.047144 -0.057963 -0.057634
     3     0.127211  0.074423  0.148525  0.067153  0.063690  0.121724
     4    -0.139921  0.111094 -0.026446  0.030500 -0.072120  0.007212
     5     0.071773  0.095817  0.065765  0.010461  0.057877  0.054065
     6    -0.042660 -0.009920 -0.030122 -0.038128 -0.060519 -0.011981
     7     0.090063  0.060353  0.037093  0.084529  0.124813  0.043756
     8     0.023652  0.013640  0.178346  0.017589 -0.001883 -0.069519
     9     0.065505  0.088603  0.088486  0.017047  0.017991 -0.056818
     10    0.004334 -0.056717 -0.038756  0.021205  0.007263 -0.072448
     11   -0.021601 -0.049695 -0.075425 -0.095962 -0.042005  0.058515

               MSFT      PYPL      QCOM         V
Date Date
2015 12    0.000000  0.000000  0.000000  0.000000
2016 1    -0.007030 -0.001657 -0.093019 -0.039458
     2    -0.069789  0.055340  0.130717 -0.024275
     3     0.085495  0.012061  0.006891  0.056500
     4    -0.097049  0.015026 -0.012124  0.009937
     5     0.070197 -0.035477  0.097530  0.023819
     6    -0.034528 -0.033871 -0.024581 -0.060426
     7     0.107680  0.019995  0.168191  0.052312
     8     0.020080 -0.002417  0.016384  0.038314
     9     0.002436  0.102826  0.086095  0.022249
     10    0.040278  0.016842  0.003211 -0.002298
     11    0.012468 -0.057129 -0.000831 -0.060929

In [8]:
# monthly_return.to_csv('monthly_return.csv')