In [1]:
import numpy as np
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl

In [2]:
Daily_return = pd.read_excel('/Users/andy/Desktop/PM/Daily_return.xlsx')
MSCI = pd.read_excel('/Users/andy/Downloads/MSCI World Price Index USD.xlsx')

In [3]:
Daily_return.index = pd.to_datetime(Daily_return.index)
Daily_return = Daily_return.set_index('Date')
Daily_return.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2015-01-02 to 2019-12-31
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GOOGL                       1258 non-null   float64
 1   JPM                         1258 non-null   float64
 2   MSFT                        1258 non-null   float64
 3   AAPL                        1258 non-null   float64
 4   VZ                          1258 non-null   float64
 5   AMZN                        1258 non-null   float64
 6   JNJ                         1258 non-null   float64
 7   MMM                         1258 non-null   float64
 8   BRK-B                       1258 non-null   float64
 9   BMY                         1258 non-null   float64
 10  Fund                        1258 non-null   float64
 11  Optimal Risky Portfolio     1258 non-null   float64
 12  Minimum Variance Portfolio  1258 non-null   float64
 13  Equally Weight Portfolio    1258 non-null   float64
 14  S&P 500                     1258 non-null   float64
 15  Russell_1000                1258 non-null   float64
dtypes: float64(16)
memory usage: 167.1 KB

In [4]:
MSCI = MSCI.set_index('Date')
MSCI.index = pd.to_datetime(MSCI.index)
MSCI_5y = MSCI[(MSCI.index >= pd.to_datetime('20150101')) & (MSCI.index <= pd.to_datetime('20191231'))]
MSCI_5y.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1303 entries, 2015-01-01 to 2019-12-31
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   1303 non-null   float64
 1   Return  1303 non-null   float64
dtypes: float64(2)
memory usage: 30.5 KB

In [5]:
# MSCI_5y.to_csv('MSCI_5y.csv')

In [6]:
df = pd.concat([Daily_return, MSCI_5y], axis=1)
df.head()

,GOOGL,JPM,MSFT,AAPL,VZ,AMZN,JNJ,MMM,BRK-B,BMY,Fund,Optimal Risky Portfolio,Minimum Variance Portfolio,Equally Weight Portfolio,S&P 500,Russell_1000,Close,Return
Date,,,,,,,,,,,,,,,,,,
2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1709.68,0.000006
2015-01-02,-0.002092,0.004985,0.006674,-0.009513,0.003848,-0.005897,-0.000478,-0.001582,-0.006527,0.008131,0.000000,-0.000308,-0.001583,-0.000245,-0.000340,-0.000315,1704.71,-0.002907
2015-01-05,-0.019054,-0.031045,-0.009196,-0.028172,-0.008305,-0.020517,-0.006984,-0.022553,-0.014547,-0.015627,-0.016116,-0.017939,-0.012707,-0.017600,-0.018278,-0.018042,1671.25,-0.019628
2015-01-06,-0.024679,-0.025929,-0.014677,0.000094,0.010092,-0.022833,-0.004914,-0.010663,-0.001088,-0.001707,-0.008056,-0.012980,-0.003131,-0.009631,-0.008894,-0.008955,1654.38,-0.010094
2015-01-07,-0.002941,0.001526,0.012705,0.014022,-0.006453,0.010600,0.022076,0.007249,0.013893,0.012996,0.012182,0.006513,0.008796,0.008567,0.011630,0.011650,1662.22,0.004739

In [7]:
df.drop(['Close'], axis=1, inplace=True)
df.rename(columns={'Return': 'MSCI'}, inplace=True)
df.fillna(0, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1303 entries, 2015-01-01 to 2019-12-31
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GOOGL                       1303 non-null   float64
 1   JPM                         1303 non-null   float64
 2   MSFT                        1303 non-null   float64
 3   AAPL                        1303 non-null   float64
 4   VZ                          1303 non-null   float64
 5   AMZN                        1303 non-null   float64
 6   JNJ                         1303 non-null   float64
 7   MMM                         1303 non-null   float64
 8   BRK-B                       1303 non-null   float64
 9   BMY                         1303 non-null   float64
 10  Fund                        1303 non-null   float64
 11  Optimal Risky Portfolio     1303 non-null   float64
 12  Minimum Variance Portfolio  1303 non-null   float64
 13  Equally Weight Portfolio    1303 non-null   float64
 14  S&P 500                     1303 non-null   float64
 15  Russell_1000                1303 non-null   float64
 16  MSCI                        1303 non-null   float64
dtypes: float64(17)
memory usage: 183.2 KB

In [8]:
# df.to_csv('Matched Daily Return.csv')

In [9]:
Daily_return2 = pd.read_excel('/Users/andy/Desktop/PM/Daily_return(2020).xlsx')
Daily_return2.index = pd.to_datetime(Daily_return2.index)
Daily_return2 = Daily_return2.set_index('Date')

MSCI_2020 = MSCI[(MSCI.index >= pd.to_datetime('20200101')) & (MSCI.index <= pd.to_datetime('20201231'))]


df2 = pd.concat([Daily_return2, MSCI_2020], axis=1)
df2.drop(['Close'], axis=1, inplace=True)
df2.rename(columns={'Return': 'MSCI'}, inplace=True)
df2.fillna(0, inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 264 entries, 2020-01-01 to 2020-12-31
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GOOGL                       264 non-null    float64
 1   JPM                         264 non-null    float64
 2   MSFT                        264 non-null    float64
 3   AAPL                        264 non-null    float64
 4   VZ                          264 non-null    float64
 5   AMZN                        264 non-null    float64
 6   JNJ                         264 non-null    float64
 7   MMM                         264 non-null    float64
 8   BRK-B                       264 non-null    float64
 9   BMY                         264 non-null    float64
 10  Fund                        264 non-null    float64
 11  Optimal Risky Portfolio     264 non-null    float64
 12  Minimum Variance Portfolio  264 non-null    float64
 13  Equally Weight Portfolio    264 non-null    float64
 14  S&P500                      264 non-null    float64
 15  Russell_1000                264 non-null    float64
 16  MSCI                        264 non-null    float64
dtypes: float64(17)
memory usage: 37.1 KB

In [10]:
df2.head()

,GOOGL,JPM,MSFT,AAPL,VZ,AMZN,JNJ,MMM,BRK-B,BMY,Fund,Optimal Risky Portfolio,Minimum Variance Portfolio,Equally Weight Portfolio,S&P500,Russell_1000,MSCI
Date,,,,,,,,,,,,,,,,,
2020-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000004
2020-01-02,0.021868,0.012124,0.018516,0.022816,-0.005700,0.027151,0.000686,0.020292,0.008344,-0.006275,0.005136,0.016292,0.005356,0.011982,0.008379,0.008132,0.007403
2020-01-03,-0.005231,-0.013196,-0.012452,-0.009722,-0.010647,-0.012139,-0.011578,-0.008611,-0.009676,-0.008841,-0.007920,-0.011832,-0.009593,-0.010209,-0.007060,-0.006471,-0.005396
2020-01-06,0.026654,-0.000795,0.002585,0.007968,-0.002152,0.014886,-0.001247,0.000953,0.003581,0.003186,0.002060,0.006295,0.004892,0.005562,0.003533,0.003503,0.000580
2020-01-07,-0.001932,-0.017001,-0.009118,-0.004703,-0.011117,0.002092,0.006107,-0.004031,-0.004714,0.015084,-0.003341,-0.005960,-0.002149,-0.002933,-0.002803,-0.002548,-0.000871

In [11]:
# df2.to_csv('Matched Daily Return(2020).csv')