In [1]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web   
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from scipy.stats import norm
import datetime
import cufflinks as cf
import plotly.offline as plyo
import plotly as ply
import plotly.graph_objs as go
import yfinance as yf

plyo.init_notebook_mode(connected=True)

In [2]:
Daily_return = pd.read_excel('/Users/andy/Desktop/PM/Daily_return.xlsx')
Daily_return = Daily_return.set_index('Date')
Daily_return.head()

,GOOGL,JPM,MSFT,AAPL,VZ,AMZN,JNJ,MMM,BRK-B,BMY,Fund,Optimal Risky Portfolio,Minimum Variance Portfolio,Equally Weight Portfolio,MSCI
Date,,,,,,,,,,,,,,,
2015-01-02,-0.002092,0.004985,0.006674,-0.009513,0.003848,-0.005897,-0.000478,-0.001582,-0.006527,0.008131,0.000000,-0.000308,-0.001583,-0.000245,-0.002907
2015-01-05,-0.019054,-0.031045,-0.009196,-0.028172,-0.008305,-0.020517,-0.006984,-0.022553,-0.014547,-0.015627,-0.016116,-0.017939,-0.012707,-0.017600,-0.019628
2015-01-06,-0.024679,-0.025929,-0.014677,0.000094,0.010092,-0.022833,-0.004914,-0.010663,-0.001088,-0.001707,-0.008056,-0.012980,-0.003131,-0.009631,-0.010094
2015-01-07,-0.002941,0.001526,0.012705,0.014022,-0.006453,0.010600,0.022076,0.007249,0.013893,0.012996,0.012182,0.006513,0.008796,0.008567,0.004739
2015-01-08,0.003484,0.022347,0.029418,0.038422,0.021433,0.006836,0.007863,0.023967,0.016725,0.024983,0.016582,0.018920,0.014897,0.019548,0.019221

In [3]:
from scipy import stats
import statsmodels.api as sm

Cols = Daily_return.columns[0:13]
Cols

Index(['GOOGL', 'JPM', 'MSFT', 'AAPL', 'VZ', 'AMZN', 'JNJ', 'MMM', 'BRK-B',
       'BMY', 'Fund', 'Optimal Risky Portfolio', 'Minimum Variance Portfolio'],
      dtype='object')

In [4]:
ret_2017_2019 = Daily_return[(Daily_return.index >= pd.to_datetime('20170101')) & (Daily_return.index <= pd.to_datetime('20191231'))]
ret_2017_2019.head()

,GOOGL,JPM,MSFT,AAPL,VZ,AMZN,JNJ,MMM,BRK-B,BMY,Fund,Optimal Risky Portfolio,Minimum Variance Portfolio,Equally Weight Portfolio,MSCI
Date,,,,,,,,,,,,,,,
2017-01-03,0.019635,0.010894,0.007081,0.002849,0.022480,0.005068,0.005468,-0.002912,0.005215,0.017283,0.008966,0.009664,0.011719,0.009306,0.002795
2017-01-04,-0.000297,0.001844,-0.004474,-0.001119,-0.001099,0.004657,-0.001640,0.001516,0.001526,0.001355,0.006109,0.000865,-0.000117,0.000227,0.009084
2017-01-05,0.006499,-0.009205,0.000000,0.005085,0.002201,0.030732,0.010463,-0.003421,-0.004754,0.016740,-0.003312,0.011364,0.003345,0.005434,0.004792
2017-01-06,0.014993,0.000116,0.008668,0.011148,-0.014835,0.019912,-0.004792,0.002926,0.000674,-0.002993,0.002215,0.007139,-0.001548,0.003582,0.000359
2017-01-09,0.002387,0.000697,-0.003183,0.009159,-0.010890,0.001168,-0.000172,-0.005386,-0.008506,-0.003670,-0.003592,-0.001542,-0.004650,-0.001840,-0.003455

In [5]:
x = Daily_return.loc[:, 'MSCI'].values
y = Daily_return.iloc[:, 0:13].values

AB_5y = pd.DataFrame()
alpha_5y = []
beta_5y = []

for i in range(13):
    b, a, r_value, p_value, std_err = stats.linregress(x, y[:, i])
    # annualize alpha
    alpha_5y.append(round(a * 250, 4))
    beta_5y.append(round(b, 4))
    
AB_5y['alpha'] = alpha_5y
AB_5y['beta'] = beta_5y
AB_5y.index = Cols

AB_5y

                             alpha    beta
GOOGL                       0.1268  1.2575
JPM                         0.1188  1.3240
MSFT                        0.1967  1.3984
AAPL                        0.1529  1.3167
VZ                          0.0736  0.5918
AMZN                        0.2998  1.4314
JNJ                         0.0576  0.7259
MMM                        -0.0141  1.0972
BRK-B                       0.0230  1.0691
BMY                         0.0157  0.8821
Fund                       -0.0563  1.0663
Optimal Risky Portfolio     0.1963  1.2272
Minimum Variance Portfolio  0.0612  0.9168

In [6]:
x = ret_2017_2019.loc[:, 'MSCI'].values
y = ret_2017_2019.iloc[:, 0:13].values

AB_3y = pd.DataFrame()
alpha_3y = []
beta_3y = []

for i in range(13):
    b, a, r_value, p_value, std_err = stats.linregress(x, y[:, i])
    # annualize alpha
    alpha_3y.append(round(a * 250, 4))
    beta_3y.append(round(b, 4))
    
AB_3y['alpha'] = alpha_3y
AB_3y['beta'] = beta_3y
AB_3y.index = Cols

AB_3y

                             alpha    beta
GOOGL                       0.0363  1.5451
JPM                         0.0671  1.2933
MSFT                        0.1824  1.5796
AAPL                        0.1835  1.6071
VZ                          0.0516  0.5225
AMZN                        0.1487  1.7681
JNJ                         0.0344  0.8025
MMM                        -0.0999  1.3760
BRK-B                      -0.0066  1.2240
BMY                        -0.0110  0.9628
Fund                       -0.0869  1.1845
Optimal Risky Portfolio     0.1267  1.3960
Minimum Variance Portfolio  0.0275  1.0267

In [7]:
# Tracking return
TR = []

for asset in Cols:
    tr = Daily_return.loc[:, asset] - Daily_return.iloc[:, -1]
    TR.append(tr)

TR_T = pd.DataFrame(TR)
TR = TR_T.T
TR.columns = Cols
TR.head()

,GOOGL,JPM,MSFT,AAPL,VZ,AMZN,JNJ,MMM,BRK-B,BMY,Fund,Optimal Risky Portfolio,Minimum Variance Portfolio
Date,,,,,,,,,,,,,
2015-01-02,0.000815,0.007892,0.009581,-0.006606,0.006755,-0.002990,0.002429,0.001325,-0.003620,0.011038,0.002907,0.002599,0.001324
2015-01-05,0.000574,-0.011417,0.010432,-0.008544,0.011323,-0.000889,0.012644,-0.002925,0.005081,0.004001,0.003512,0.001689,0.006921
2015-01-06,-0.014585,-0.015835,-0.004583,0.010189,0.020186,-0.012739,0.005180,-0.000569,0.009006,0.008387,0.002038,-0.002886,0.006963
2015-01-07,-0.007680,-0.003213,0.007966,0.009283,-0.011192,0.005861,0.017337,0.002510,0.009154,0.008257,0.007443,0.001774,0.004057
2015-01-08,-0.015737,0.003125,0.010197,0.019201,0.002212,-0.012385,-0.011359,0.004746,-0.002496,0.005762,-0.002639,-0.000302,-0.004325

In [8]:
information_ratio = np.sqrt(len(TR)) * TR.mean() / TR.std()

INR = pd.DataFrame(information_ratio, columns=['Information ratio'])
INR

                            Information ratio
GOOGL                                1.688286
JPM                                  2.096714
MSFT                                 2.852454
AAPL                                 1.947819
VZ                                   0.632710
AMZN                                 2.987363
JNJ                                  0.611019
MMM                                 -0.111270
BRK-B                                0.550773
BMY                                  0.073934
Fund                                -1.447300
Optimal Risky Portfolio              3.945130
Minimum Variance Portfolio           1.558519

In [9]:
indicators = pd.concat([AB_3y, AB_5y, INR], axis=1, sort=False)

indicators

                             alpha    beta   alpha    beta  Information ratio
GOOGL                       0.0363  1.5451  0.1268  1.2575           1.688286
JPM                         0.0671  1.2933  0.1188  1.3240           2.096714
MSFT                        0.1824  1.5796  0.1967  1.3984           2.852454
AAPL                        0.1835  1.6071  0.1529  1.3167           1.947819
VZ                          0.0516  0.5225  0.0736  0.5918           0.632710
AMZN                        0.1487  1.7681  0.2998  1.4314           2.987363
JNJ                         0.0344  0.8025  0.0576  0.7259           0.611019
MMM                        -0.0999  1.3760 -0.0141  1.0972          -0.111270
BRK-B                      -0.0066  1.2240  0.0230  1.0691           0.550773
BMY                        -0.0110  0.9628  0.0157  0.8821           0.073934
Fund                       -0.0869  1.1845 -0.0563  1.0663          -1.447300
Optimal Risky Portfolio     0.1267  1.3960  0.1963  1.2272           3.945130
Minimum Variance Portfolio  0.0275  1.0267  0.0612  0.9168           1.558519